# Node
frontend/node_modules/
frontend/.next/

# Python
backend/.venv/
*.pyc
*.pyo
*.pyd
__pycache__/
backend/uploads/
backend/meal_images/
backend/smartcart.db
backend/app/models/sam3/

# OS
.DS_Store
Thumbs.db
